# python
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints/

# envs
.env
*.env
.venv/
env/
venv/
.kidney_grader_env/
.kg_env/

data/
*.h5
*.DS_Store

*.pth
*.pt
checkpoints/

output*
results*
res/
.output_segment*
test/
*.log
*.npy
*.csv
*.json
*.png
*.tiff
*.txt

cv_results.yaml

# temp/debug
tmp/
*.tmp
*.bak
*.swp

*/wandb

# system files
Thumbs.db
.DS_Store

.vscode/
.idea/
