# python
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints/

# envs
.env
*.env
.venv/
env/
venv/
.kidney_grader_env/
.kg_env/

data/
*.DS_Store

checkpoints/
*.pth
*.pt

output*
res/
.output_segment*
test/
*.log
*.npy
*.csv
*.json
*.png
*.tiff
*.txt

# temp/debug
tmp/
*.tmp
*.bak
*.swp

# system files
Thumbs.db
.DS_Store

.vscode/
.idea/
